/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

p{
margin: 0 0 0px !important;
}

/*Github Profile title: space below*/
.row-title{
margin-bottom: 10px;

}

/*Content(result) on the left: title*/
.content-left{
margin-left: -5%;
width: 50%;
}

/*Content(result) on the right: data*/
.content-right{
margin-right: -5%;
width: 50%;
}

/*Input box at search user*/
.box-search{
    letter-spacing: 2px;
    display: inline-block;
    width: 250px;
    font-weight: bold;
    padding: 6px 0px;
    border: 3px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

/*Search button at search user*/
.btn-search {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 100px;
    font-weight: bold;
    padding: 8px 0px;
    border: 3px solid;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn-search::before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: "";
        background-color: yellow;
        z-index: -2;
    }

    .btn-search:hover::before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
    }

    .btn-search:focus::before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
    }
